@charset "utf-8";

/*
===============================================================================================
1.	버    전 : common.css
2.	작 성 자 : Ryu
3.	참    고 : Common
===============================================================================================
*/

/* common */
::selection {color:#fff;background:#c6a370;text-shadow:1px 1px 1px rgba(0,0,0,0.5);}
::-webkit-selection {color:#fff;background:#c6a370;text-shadow:1px 1px 1px rgba(0,0,0,0.5);}
::-moz-selection {color:#fff;background:#c6a370;text-shadow:1px 1px 1px rgba(0,0,0,0.5);}
a:focus {outline:none;}
.blind {position:absolute;width:0;height:0;font-size:0;line-height:0;overflow:hidden;visibility:hidden;}
.ellipsis {text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.cancelLine {text-decoration:line-through;}
.pointC0 {color:#9d876b !important;}
.pointC1 {color:#ff4100 !important;}
.pointC2 {color:#7ec2cd !important;}
.pointC3 {color:#c6a370 !important;}
.pointC4 {color:#c82358 !important;}
.pointC5 {color:#cc5222 !important;}
.pointC6 {color:#eacb5f !important;}
.pointC7 {color:#480000 !important;}
.pointC8 {color:#cd897e !important;}
.pointC9 {color:#fff568 !important;}
.pointC10 {color:#8c6239 !important;}

.putInOut1 {font-weight:bold;color:#cb9b1f;}
.putInOut2 {font-weight:bold;color:#f48255;}

.borderBox_ddd3px {border:3px solid #ddd;}
.borderBtm_ddd3px {border-bottom:3px solid #ddd;}
.bd1s333_top {border-top:1px solid #333;}
.star {margin-left:5px;color:#ff4100;}
.nece {display:inline-block;margin-left:5px;width:8px;height:10px;background:url(../images/common/icon_nece.png) no-repeat;background-size:8px;}
.txtBox {font:normal 12px "Noto Sans KR";}
.pageDescBox {font-size:1.4em;color:#888;}
.sentenceBox {font:normal 12px / 20px "Noto Sans KR";color:#666;}
.smTextBox {display:inline-block;padding:1px 10px 0 10px;font:normal 12px "Noto Sans KR";color:#666;}
.grayBgBox {background:#f5f5f5;}
.grayBgBox2 {background:#f7f7f7;}
.tCaution {padding:2px 5px;font-weight:bold;font-size:12px;font-family:"Noto Sans KR";color:#c82358;background:#fff;border:2px solid #c82358;border-radius:5px;}
.iCaution {display:inline-block;width:22px;height:22px;background:url(../images/common/icon_caution.png) no-repeat;}
.tSoldOut {display:inline-block;padding:1px 5px 0px 5px;font-weight:bold;font-size:12px;font-family:"dotum";color:#c6a370;background:#fff;border:2px solid #c6a370;border-radius:5px;}
.soldOut {color:#c2c2c2;text-decoration:line-through;}
.newIcon {display:none;position:absolute;top:50%;right:-3px;margin-top:-13px;width:15px;height:15px;background:url(../images/common/icon_new.png) no-repeat;background-size:15px;}
	.newIcon.actOn {display:block;}
.countIcon {display:none;margin-left:5px;padding-left:4px;width:15px;height:15px;font:normal 12px / 15px "dotum";color:#fff;background:url(../images/common/event_bg.png) no-repeat;background-size:15px;}
	.countIcon.actOn {display:inline-block;}
.bltQ {display:inline-block;margin-top:1px;margin-left:10px;width:14px;height:14px;background:url(../images/common/icon_help.png) no-repeat 0 50%;}
.strongBB {border-bottom:5px solid #f2f2f2;}
.linePD {padding-right:5%;padding-left:5%;}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {padding-left:5px;padding-right:5px;height:35px;line-height:35px;border:1px solid #ddd;}
input[type="radio"],
input[type="checkbox"] {margin-top:-3px;margin-right:5px;}
textarea {padding:5px 10px;}
label {font-weight:normal;}

.balloonTip {cursor:pointer;}
.popover-content {font-size:12px;}

#contents h2 {float:left;width:100%;line-height:35px;font-size:1.5em;color:#222;font-weight:bold;border-bottom:1px solid #ddd;}
#contents section:last-child {margin-bottom:20px;}

#popContents {position:relative;float:left;width:100%;}
	#popContents h2 {float:left;width:100%;line-height:45px;font-size:1.7em;color:#fff;font-weight:400;text-align:center;background:#4b4b4b;}
	#popContents .closeWinBtn {position:absolute;top:13px;right:15px;display:inline-block;width:15px;}

section h4 {float:left;font-size:1.5em;color:#333;font-weight:500;letter-spacing:-0.05em;}
section h5 {float:left;margin-bottom:20px;font-size:1.3em;color:#555;font-weight:500;}
section h6 {float:left;margin:0 0 30px 0;padding:0 0 15px 0;font-size:1.8em;color:#333;font-weight:500;letter-spacing:-0.025em;background:url(../images/common/blt_black_line_bg.gif) no-repeat 0 100%;}
	section h6 span {color:#c6a370;}
.brownDotLi li {margin-top:5px;padding-left:10px;line-height:20px;font-family:inherit;font-size:1.4em;color:#666;background:url(../images/common/blt_brown_dot.gif) no-repeat 0 7px;}
.brownDotLi li:first-child {margin-top:0;}
.liBrownDot {padding-left:10px;background:url(../images/common/blt_brown_dot.gif) no-repeat 0}
.orangeDotLi li {margin-top:12px;padding-left:10px;line-height:20px;font-family:inherit;font-size:1.4em;color:#333;background:url(../images/common/blt_orange_dot.gif) no-repeat 0;}
.orangeDotLi li:first-child {margin-top:0;}
.liOrangeDot {padding-left:10px;background:url(../images/common/blt_orange_dot.gif) no-repeat 0}
.grayDotLi li {margin-top:5px;padding-left:10px;line-height:20px;font-family:inherit;font-size:1.3em;color:#666;background:url(../images/common/blt_gray_dot.gif) no-repeat 0 7px;background-size:2.5px;}
.grayDotLi li:first-child {margin-top:0;}
.liGrayDot {padding-left:10px;background:url(../images/common/blt_gray_dot.gif) no-repeat 0;background-size:2.5px;}
li.noDotLi {padding-left:0;background:none;}
.dotLineTop {background:url(../images/common/line_w_dot2.png) repeat-x 0 0;}
.dotLineBottom {background:url(../images/common/line_w_dot2.png) repeat-x 0 100%;}

.subtitle_red {margin-bottom:20px;padding-bottom:20px;background:url(../images/common/blt_red_line_bg.gif) no-repeat 0 100%;}

/* radio */
.radioBoxWrap input[type="radio"] {margin-left:25px;}
.radioBoxWrap input[type="radio"]:first-child {margin-left:0;}

/* Select */
select {padding-left:5px;height:35px;line-height:35px;font-size:14px;background:#fff;border:1px solid #e2e2e2;}
.sod_select {position:relative;display:inline-block;line-height:1;width:inherit;padding:8px 10px 8px 10px;color:#666;font-size:12px;font-weight:400;font-family:"dotum";text-align:left;text-transform:uppercase;outline: 0;outline-offset: -2px; /* Opera */background:#ffffff;cursor:default;border:1px solid #ccc;}
	/* Up/Down arrows */
	.sod_select:before,
	.sod_select:after {content:"";position:absolute;right:10px;top:12px;font-size:7px;}
	/* Down arrow */
	.sod_select:before {content:"";top:auto;bottom:12px;width:13px;height:10px;}
	.sod_select:after {content:"";top:auto;bottom:8px;width:13px;height:10px;background:url(../images/common/blt_select_arrow_down.png) no-repeat;}
	/* Change the border color on hover, focus and when open */
	.sod_select:hover,
	.sod_select.open,
	.sod_select.focus {border-color:#ccc;}
	.sod_select.open {color:#919191;}
	.sod_select.focus {box-shadow:none;}
	/* Options list wrapper */
	.sod_select .sod_list_wrapper{position:absolute;top:100%;left:2px;display:none;height:auto;width:inherit;margin:0 0 0 -3px;padding-right:1px;padding-left:1px;background:#ffffff;border:1px solid #ccc;border-top:none;color:#444444;font-weight:300;z-index:1;}
	/* When the option list is displayed above the SoD */
	.sod_select.above .sod_list_wrapper {top:auto;bottom:100%;border-top:1px solid #ccc;border-bottom:none;}
	/* Options list container */
	.sod_select .sod_list {display:block;overflow-y:auto;padding:0;margin:0;}
	/* All the options. Keep the first three lines for truncating... */
	.sod_select .sod_option {display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;position:relative;padding:10px 15px;list-style-type:none;}
	/* Hover state for options, also used when a user uses his/hers up/down keys */
	.sod_select .sod_option.active {background:#f7f7f7;color:#666;}
	/*Make room for the check mark */
	.sod_select .sod_option.selected {font-weight:500;padding-right:25px;}
	/* Displays a check mark for the selected option */
	.sod_select .sod_option.selected:before {display:none;}

/* scroll */
.textScrollBox {padding:20px;width:100%;height:100%;overflow:auto;}

/* calendar */
.calendarBox {display:inline-block;}
	.writeTable input[type="text"].dateInput {float:left;width:80%;font-size:1em;text-align:center;background:transparent;border:0;}
	.blt_calendar {display:inline-block;width:30px;line-height:30px;text-align:center;cursor:pointer;}
		.blt_calendar img {width:18px;}

/* attach */
.attachBox {width:100%}
	.fileInputType {float:left;width:60%;padding:5px;border:1px solid #ccc;}
	.uploadFile {position:relative;float:left;margin-left:10px;width:100px;height:35px;line-height:35px;font-family:'malgun gothic';font-size:13px;color:#fff;text-align:center;white-space:nowrap;overflow:hidden;background:#5990e3;border-radius:3px;}
		.uploadFile input[type="file"] {position:absolute;top:0px;left:0px;width:100%;height:100%;opacity:0;cursor:pointer;}
	.attachGuide {float:left;margin-top:10px;margin-left:10px;font-family:inherit;font-size:12px;color:#999;}
.attachBox2 {width:100%}
	.attachBox2 li {float:left;margin-top:5px;padding-top:8px;width:100%;border-top:1px solid #e7e7e7;}
	.attachBox2 li:first-child {margin-top:0;border-top:0;}
		.attachBox2 li input[type="file"] {width:90%;}

/* tab */
.pageTab {float:left;margin-top:10px;margin-bottom:10px;width:100%;}
	.pageTab li {float:left;width:25%;}
	.pageTab li a {display:block;height:40px;line-height:40px;text-align:center;font-weight:400;font-size:1.6em;color:#bbb;background:#fafafa;border:1px solid #ddd;border-bottom:1px solid #c6a370;border-left:0px;}
	.pageTab li:first-child a {border-left:1px solid #ddd;}
	.pageTab li.actOn a {color:#c6a370;background:#fff;border:1px solid #c6a370;border-bottom:0;}

.pageTab2 {float:left;margin-top:0;margin-bottom:0;width:100%;border-bottom:5px solid #f2f2f2;}
	.pageTab2 li {float:left;width:50%;}
		.pageTab2 li a {display:block;padding-top:10px;height:40px;line-height:40px;text-align:center;font-weight:500;font-size:1.4em;color:#bbb;background:#fff;border-right:0;border-bottom:3px solid #ccc;border-left:0;}
			.pageTab2 li a span {display:block;width:100%;height:15px;line-height:15px;border-left:1px solid #ddd;}
			.pageTab2 li:first-child a span {border-left:0;}
		.pageTab2 li.actOn a {color:#c6a370;background:#fff;border-bottom:3px solid #c6a370;}

/* table */
.listTable {float:left;width:100%;border-top:1px solid #ddd;}
	.listTable th,
	.listTable td {padding:5px 5px;font-family:inherit;text-align:center;vertical-align:middle;}
	.listTable th {font-weight:400;font-size:1.2em;color:#222;background:#f4f4f4;border-bottom:1px solid #ddd;}
	.listTable td {font-size:1.3em;color:#333;border-bottom:1px solid #ddd;}
	.listTable td.listSubject {text-align:left;}
	.listTable td.listSubject a {color:#333;}
	.listTable tr.actOn th .listSubject,
	.listTable tr.actOn td .listSubject,
	.listTable td a:hover {}
.listTable2 {float:left;width:100%;border-top:1px solid #333;}
	.listTable2 th,
	.listTable2 td {padding:10px 0;font-family:inherit;text-align:center;vertical-align:middle;}
	.listTable2 th {font-weight:400;font-size:1.2em;color:#222;background:#f4f4f4;border-bottom:1px solid #ddd;}
	.listTable2 td {font-size:1.2em;color:#666;border-bottom:1px solid #ddd;}
	.listTable2 td.listSubject {text-align:left;}
	.listTable2 td.listSubject a,
	.listTable2 td .listSubject {color:#333;}
	.listTable2 td.listSubject a:hover,
	.listTable2 td .listSubject:hover {color:#333;}
.writeTable {float:left;width:100%;}
	.writeTable th,
	.writeTable td {padding:2px 5px;font-size:1.4em;letter-spacing:-0.025em;}
	.writeTable th {padding-top:7px;font-weight:bold;text-align:left;vertical-align:top;color:#222;}
	.writeTable td {text-align:left;background:#fff;}
	.writeTable td input[type="text"],
	.writeTable td input[type="password"],
	.writeTable td input[type="number"],
	.writeTable td textarea,
	.writeTable td select {width:100%;background:#fff;}
.writeTable2 {float:left;width:100%;}
	.writeTable2 th,
	.writeTable2 td {padding:2px 5px;font-size:1.4em;letter-spacing:-0.025em;}
	.writeTable2 th {padding:10px;font-weight:500;font-size:12px;text-align:left;vertical-align:top;color:#222;}
	.writeTable2 td {padding:5px 10px;vertical-align:middle;text-align:left;background:#fff;}
	.writeTable2 td input[type="text"],
	.writeTable2 td input[type="password"],
	.writeTable2 td input[type="number"],
	.writeTable2 td textarea,
	.writeTable2 td select {width:100%;background:#fff;}
	.writeTable2 td label {font-weight:normal;font-size:11px;color:#333;}
.viewTable {float:left;width:100%;border-top:1px solid #e2e2e2;border-left:1px solid #e2e2e2;}
	.viewTable th,
	.viewTable td {padding:10px 10px;font-family:inherit;}
	.viewTable th {font-weight:400;font-size:1.2em;color:#222;text-align:center;vertical-align:middle;background:#f4f4f4;border-right:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2;}
	.viewTable td {font-size:1.2em;color:#666;text-align:left;background:#fff;border-right:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2;}
	.viewTable td.ttaL {text-align:left !important;}
.viewTable2 {float:left;width:100%;}
	.viewTable2 th,
	.viewTable2 td {padding:5px 0;font-family:inherit;letter-spacing:-0.075em;}
	.viewTable2 th {font-weight:normal;font-size:1.1em;color:#999;text-align:left;vertical-align:middle;}
	.viewTable2 td {padding-left:10px;font-size:1.1em;color:#666;text-align:left;}
	.viewTable2 td.ttaL {text-align:left !important;}

/* sectionSlideBox*/
.sectionSlideBox {float:left;width:100%;cursor:pointer;}
	.sctsTitle {float:left;width:100%;background:url(../images/common/blt_arrow_down_gray.png) no-repeat 100% 6px;background-size:18px;}
	.sectionSlideBox.openScts .sctsTitle {background:url(../images/common/blt_arrow_up_gray.png) no-repeat 100% 6px;background-size:18px;}
	.sctsCon {display:none;float:left;margin-top:15px;padding-top:15px;width:100%;border-top:1px solid #f4f4f4;}
	.sectionSlideBox.openScts .sctsCon {display:block;}

.sectionSlideBox {padding:15px;}
	.sectionSlideBox .sctsTitle {font-size:1.5em;font-weight:600;}

/* slideListBox */
.slideListBox {float:left;width:100%;font-family:inherit;}
	.slideListHead li {float:left;line-height:45px;text-align:center;font-size:1.2em;background:#f7f7f7;border-top:1px solid #333;border-bottom:1px solid #ddd;}
	.slideListBody > li {float:left;width:100%;font-size:1.3em;letter-spacing:-0.025em;border-bottom:1px solid #ddd;}
	.slideListBody > li.openLine {}
	.slideListBody > li a {color:#333;}
	.slideListBody > li.actOn a {}
		.titleLine li {float:left;line-height:45px;text-align:center;}
		.conLine {display:none;float:left;padding:0;width:100%;border-top:1px solid #ddd;background:#f7f7f7;}
	.noList {display:inline-block;padding:80px 0;width:100%;text-align:center;}

/* btns */
.pageBtnBox {float:left;margin-top:20px;width:100%;}
	.pageBtnBox.taL .btnS1:first-child {margin-left:0;}

.btnS1 {display:inline-block;margin-left:5px;padding-left:25px;padding-right:25px;height:40px;line-height:40px;border-radius:0px;font-weight:400;text-align:center;}
.btnS2 {display:inline-block;margin-left:5px;padding-left:15px;padding-right:15px;height:40px;line-height:40px;border-radius:3px;font-weight:400;text-align:center;}
.btnS3 {display:inline-block;margin-left:5px;padding-left:15px;padding-right:15px;height:35px;line-height:35px;border-radius:3px;font-weight:400;text-align:center;}

.blckBtn,
a.blckBtn {font-size:14px;font-weight:400;color:#fff;background:#333;border:1px solid #333;}
.blckBtn:hover,
a.blckBtn:hover {color:#fff;background:#666;}
.gryBtn,
a.gryBtn {font-size:14px;font-weight:400;color:#fff;background:#666;border:1px solid #666;}
.gryBtn:hover,
a.gryBtn:hover {color:#fff;background:#999;}
.gryBtn2,
a.gryBtn2 {font-size:14px;font-weight:400;color:#666;background:#f5f5f5;border:1px solid #999;}
.gryBtn2:hover,
a.gryBtn2:hover {color:#fff;background:#999;}
.gryBtn3,
a.gryBtn3 {font-size:14px;font-weight:400;color:#fff;background:#bac0c4;border:1px solid #a3aeb7;}
.gryBtn3:hover,
a.gryBtn3:hover {color:#fff;background:#a3aeb7;}
.gryBtn4,
a.gryBtn4 {font-size:14px;font-weight:400;color:#fff;background:#7b7d84;border:1px solid #7b7d84;}
.gryBtn4:hover,
a.gryBtn4:hover {color:#fff;background:#949494;}
.gryBtn5,
a.gryBtn5 {font-size:14px;font-weight:400;color:#fff;background:#949494;border:1px solid #949494;}
.gryBtn5:hover,
a.gryBtn5:hover {color:#fff;background:#949494;}
.ylwBtn,
a.ylwBtn {font-size:14px;font-weight:400;color:#fff;background:#d7b252;border:1px solid #c8a240;}
.ylwBtn:hover,
a.ylwBtn:hover {color:#fff;background:#c8a240;}
.jdBtn,
a.jdBtn {font-size:14px;font-weight:400;color:#fff;background:#1cbbb4;border:1px solid #1cbbb4;}
.jdBtn:hover,
a.jdBtn:hover {color:#fff;background:#1cbbb4;}

.whiteBtn,
a.whiteBtn {font-size:14px;font-weight:400;color:#091f2c;background:#fff;border:1px solid #9a9ea1;}
.whiteBtn:hover,
a.whiteBtn:hover {color:#fff;background:#9a9ea1;}
.whiteBtn2,
a.whiteBtn2 {font-size:14px;font-weight:500;color:#444;background:#fff;border:1px solid #d7dadc;}
.whiteBtn2:hover,
a.whiteBtn2:hover {color:#444;background:#d7dadc;}
.whiteBtnB,
a.whiteBtnB {font-size:14px;font-weight:500;color:#c6a370;background:#fff;border:1px solid #c6a370;}
.whiteBtnB:hover,
a.whiteBtnB:hover {color:#c6a370;background:#fff;}
.whtBtn,
a.whtBtn {font-size:14px;font-weight:400;color:#666;background:#fff;border:1px solid #ddd;}
.whtBtn:hover,
a.whtBtn:hover {color:#333;background:#ddd;}
.redBtn,
a.redBtn {font-size:14px;font-weight:400;color:#fff;background:#f62e3d;border:1px solid #f62e3d;}
.redBtn:hover,
a.redBtn:hover {color:#fff;background:#f62e3d;}
.redBtn2,
a.redBtn2 {font-size:14px;font-weight:bold;color:#fff;background:#c82358;border:1px solid #c82358;}
.redBtn2:hover,
a.redBtn2:hover {color:#fff;background:#c82358;}
.purpleBtn,
a.purpleBtn {font-size:14px;font-weight:400;color:#fff;background:#c82358;border:1px solid #c82358;}
.purpleBtn:hover,
a.purpleBtn:hover {color:#fff;background:#c82358;}
.brownBtn,
a.brownBtn {font-size:14px;font-weight:400;color:#fff;background:#c6a370;border:1px solid #c6a370;}
.brownBtn:hover,
a.brownBtn:hover {color:#fff;background:#c6a370;}

.smBtn,
a.smBtn {display:inline-block;padding:2px 10px 2px 10px;font-family:"dotum";font-size:11px;letter-spacing:-0.075em;color:#888;font-weight:normal;background:#fff;border:1px solid #ddd;}
.smBtn:hover,
a.smBtn:hover{background:#f5f5f5;color:#888;}

.moreBtn {float:right;margin-top:10px;}

.checking {padding-left:25px;background:url(../images/common/icon_checking.png) no-repeat 0 50%;background-size:16px;}

.mBtnH {display:inline-block;margin-top:10px;padding:0 0px;width:49%;height:40px;line-height:40px;font-weight:400;text-align:center;border-radius:3px;}
input[type="submit"].mBtnH {margin-top:-8px;;border-radius:3px;}
.mBtn {display:inline-block;margin-top:10px;padding:0 0px;width:100%;height:40px;line-height:40px;font-weight:400;text-align:center;border-radius:3px;}
.mBtn2 {display:inline-block;margin-top:10px;padding:0 0px;width:100%;height:30px;line-height:30px;font-weight:400;text-align:center;border-radius:3px;}
.mBtn3 {display:inline-block;margin-top:10px;padding:0 0px;width:100%;height:35px;line-height:35px;font-weight:400;text-align:center;border-radius:3px;}
.rmBtn {display:inline-block;margin-top:10px;padding:0 20px;height:26px;line-height:26px;font-weight:400;text-align:center;border-radius:13px;}
.dmBtn {display:inline-block;margin-top:0;padding:0 20px;height:40px;line-height:40px;font-weight:400;text-align:center;border-radius:3px;}
.grnBtn {font-size:14px;font-weight:500;color:#fff;background:#1cbbb4;}
.grnBtn:hover {color:#fff;}

.msmBtn {display:inline-block;padding:0 10px 0 10px;font-weight:500;font-family:"dotum";font-size:11px;letter-spacing:-0.075em;color:#044444;font-weight:normal;background:#fff;border:1px solid #ddd;}
.msmBtn:hover {background:#f5f5f5;color:#444444;}

.listMoreBtn {float:left;padding:6px 0;width:100%;font-size:13px;color:#555;text-align:center;border:1px solid #e2e2e2;}
	.listMoreBtn span {font-family:"Arial";}

/* caution */
.cautionBox {float:left;margin-bottom:10px;padding-bottom:10px;padding-left:5px;width:100%;font:bold 14px "Noto Sans KR";}
	.cautionBox .iCaution {float:left;width:22px;}
	.cautionBox span {float:left;width:90%;vertical-align:middle;}

/* pagingBoxWrap */
.pagingBoxWrap {float:left;width:100%;margin-top:20px;text-align:center;}
	.pagingBox {display:inline-block;}
		.pagingBox li {float:left;width:30px;height:30px;line-height:30px;text-align:center;cursor:pointer;}
			.pagingBox .numBtn {margin:0 2px;border:1px solid #ddd;}
			.pagingBox .numBtn a {display:block;width:100%;height:100%;font-family:'dotum';font-size:1.2em;font-weight:bold;color:#666;}
			.pagingBox .abL, .pagingBox .abLL,
			.pagingBox .abR, .pagingBox .abRR {margin:0 2px;border:1px solid #ddd;}
			.pagingBox .abL img, .pagingBox .abR img {margin-top:-2px;width:7px;}
			.pagingBox .abLL img,.pagingBox .abRR img {margin-top:-2px;width:12px;}
			.pagingBox .angleBtn a {display:block;width:100%;height:100%;font-size:1.6em;color:#666;font-weight:bold;}
			.pagingBox .angleBtn:hover {border:1px solid #333;}
			.pagingBox .numBtn:hover, .pagingBox .actOn {background:#666;border:1px solid #333;}
			.pagingBox .angleBtn:hover a, .pagingBox .numBtn:hover a, .pagingBox .actOn a {color:#fff;}
.pagingBoxWrap2 {float:left;width:100%;margin-top:10px;text-align:center;}
	.pagingBox2 {display:inline-block;}
		.pagingBox2 li {float:left;width:20px;height:20px;line-height:20px;text-align:center;cursor:pointer;}
			.pagingBox2 .numBtn {margin:0 2px;border:0;}
			.pagingBox2 .numBtn a {display:block;width:100%;height:100%;font-size:1.3em;font-weight:400;color:#707070;}
			.pagingBox2 .abL, .pagingBox2 .abLL,
			.pagingBox2 .abR, .pagingBox2 .abRR {margin:0 2px;background:#fff;border:1px solid #c2c2c2;}
			.pagingBox2 .abL img, .pagingBox2 .abR img {margin-top:-4px;width:4px;}
			.pagingBox2 .abLL img,.pagingBox2 .abRR img {margin-top:-4px;width:10px;}
			.pagingBox2 .angleBtn a {display:block;width:100%;height:100%;font-size:1.6em;color:#666;font-weight:bold;}
			.pagingBox2 .angleBtn:hover {border:1px solid #666;}
			.pagingBox2 .numBtn:hover, .pagingBox2 .actOn {background:transparent;border:0;}
			.pagingBox2 .angleBtn:hover a, .pagingBox2 .numBtn:hover a, .pagingBox2 .actOn a {color:#c6a370;}

/* topNotice */
/*
#topNoticeBoxWrap {position:fixed;bottom:0;width:100%;background:#9a8b7d;z-index:900;}
	.topTextBox {float:left;margin-top:5px;padding-right:10px;padding-left:10px;width:100%;height:30px;overflow:hidden;box-shadow:inset 0 1px 2px 1px #333;}
	.topTextBox:last-child {margin-bottom:5px;}
	.ttb1 {font:normal 12px "dotum";color:#f2edd1;text-align:center;background:#45403a;border:1px solid #6a5947;}
	.ttb2 {font:bold 12px "dotum";color:#ffd100;text-align:center;background:#511d20;border:1px solid #6a5947;}
		.topTextBox div {width:100%;line-height:30px;}
			.topTextBox .item {width:100%;line-height:30px;}
			.topTextBox .item.acting {color:#ffd800;}
			.topTextBox #ttbReturn .item {text-align:center;}
*/

/* headBox */
#headBox {position:relative;height:50px;line-height:50px;text-align:center;}
	#backBtn {float:left;width:20px;}
	#menuBtn {float:left;cursor:pointer;}
	/* gnb */
	#gnb {float:right;}
		#gnb li {float:left;}
			#mypageBtn {position:relative;width:25px;}
			#menuBtn {margin-left:10px;width:20px;}
	/*.hLocationBox {width:100%;text-align:center;}
		#topLogo {display:none;margin:0 auto;margin-top:0px;width:120px;}
		#hLocationText {padding-left:60px;line-height:45px;font-weight:500;font-size:1.8em;color:#fff;}
			#hLocationText img {width:120px;}*/
	.hLocationBox {position:absolute;width:100%;text-align:center;z-index:-1;}
		#topLogo {display:none;margin:0 auto;margin-top:0px;width:120px;}
		#hLocationText {line-height:45px;font-weight:500;font-size:1.8em;color:#fff;}
			#hLocationText img {width:120px;}

/* lnb */
#lnb {display:block;position:fixed;top:0;right:-100%;width:100%;height:100%;background:#e3e3e8;overflow-y:scroll;z-index:9999;}
.lnbTop {float:left;padding:0 15px;width:100%;height:50px;background:#091f2c;}
	.lnbTop > li {float:left;margin-right:10px;padding:10px 0;}
	.lnbTop > li:last-child {float:right;margin-right:0;}
	#lnbHomeBtn {display:inline-block;margin-top:4px;width:24px;}
	#lnbLoginBtn {display:inline-block;width:85px;height:30px;line-height:30px;text-align:center;font-size:1.2em;color:#fff;background:#f62e3d;border:1px solid #f62e3d;border-radius:3px;}
	#lnbJoinBtn {display:inline-block;width:85px;height:30px;line-height:30px;text-align:center;font-size:1.2em;color:#fff;background:transparent;border:1px solid #aaaeb0;border-radius:3px;}
	#lnbCloseBtn {display:inline-block;margin-top:5px;width:15px;}
	.lgnInfo {display:inline-block;width:115px;font-size:1.4em;color:#fff;}
.lnb_1d {position:relative;float:left;width:100%;}
	.lnb_1d > li {position:relative;float:left;margin-bottom:5px;width:100%;background:#fff;border-top:1px solid #cdcdd2;border-bottom:1px solid #cdcdd2;}
	.lnb_1d > li.overOn {border-bottom:0;}
		.lnb_1d > li > a {display:block;margin:0 20px;padding:5px 0;font-size:1.4em;font-weight:500;text-align:left;color:#222;background:url(../images/common/blt_arrow_right_gray2.png) no-repeat 100% 50%;background-size:8px;}
		.lnb_1d > li.is2d > a {background:url(../images/common/blt_arrow_down_gray2.png) no-repeat 100% 50%;background-size:14px;}
		.lnb_1d > li > a > div {padding:10px 0 10px 45px;}
		.lnbIcon1 {background:url(../images/common/icon_lnb_01.png) no-repeat 0 50%;background-size:35px;}
		.lnbIcon2 {background:url(../images/common/icon_lnb_02.png) no-repeat 0 50%;background-size:35px;}
		.lnbIcon3 {background:url(../images/common/icon_lnb_03.png) no-repeat 0 50%;background-size:35px;}
		.lnbIcon4 {background:url(../images/common/icon_lnb_04.png) no-repeat 0 50%;background-size:35px;}
		.lnbIcon5 {background:url(../images/common/icon_lnb_05.png) no-repeat 0 50%;background-size:35px;}
		.lnbIcon6 {background:url(../images/common/icon_lnb_06.png) no-repeat 0 50%;background-size:35px;}
		.lnbIcon7 {background:url(../images/common/icon_lnb_07.png) no-repeat 0 50%;background-size:35px;}
		.lnbIcon8 {background:url(../images/common/icon_lnb_08.png) no-repeat 0 50%;background-size:35px;}
		.lnb_1d > li.is2d.overOn > a,
		.lnb_1d > li.overOn > a {background:url(../images/common/blt_arrow_up_gray2.png) no-repeat 100% 50%;background-size:14px;}
		.lnb_1d > li.actOn > a,
		.lnb_1d > li.overOn > a,
		.lnb_1d > li > a:hover {}
			.lnb_2d {float:left;width:100%;text-align:left;}
			.lnb_2d {display:none;}
			.overOn .lnb_2d {display:block;}
				.lnb_2d > ul {float:left;padding:10px 10px 5px 10px;width:100%;background:#e3e3e8;border-top:1px solid #cdcdd2;}
					.lnb_2d > ul > li {float:left;width:50%;background:#fff;border-top:1px solid #e3e3e8;border-right:1px solid #e3e3e8;}
						.lnb_2d > ul > li > a {display:inline-block;padding:10px 20px;width:100%;font-size:1.4em;font-weight:500;text-align:left;color:#666;}
						.lnb_2d > ul > li:nth-child(2n) {border-right:0;}
				.lnb_2d > ul.lnbGoodsBox {padding-bottom:0;}
					.lnb_2d > ul.lnbGoodsBox > li {width:100%;border:0;}
						.lnb_2d > ul.lnbGoodsBox > li > a {padding:0 15px 15px;height:105px;}
						.lnb_2d > ul.lnbGoodsBox > li:first-child > a {padding-top:15px;}
							.lnbGoodsBox .lnbGoodsItem {display:inline-block;float:left;width:100%;}
								.lnbGoodsItem .lgiImg {float:left;width:102px;height:70px;text-align:center;overflow:hidden;/*border:2px solid #e2e2e2;*/}
									.lnbGoodsItem .lgiImg img {width:auto;height:100%;}
								.lnbGoodsItem .lgiInfo {padding-left:110px;width:100%;}
									.lgiName {font-weight:500;font-size:14px;color:#222;}
									.lgiOrgPrice {font-weight:400;font-size:13px;color:#666;text-decoration:line-through;}
									.lgiTagPrice {margin-top:5px;font-weight:500;font-size:17px;color:#e82d34;}
			.lnbGoodsBtnWrap {float:left;padding:0 10px 5px 10px;width:100%;background:#e3e3e8;}
				.lnbGoodsWrap .lnbGoodsBtnBox {float:left;padding:0 15px 15px 15px;width:100%;background:#fff;}
					.lnbGoodsWrap .listMoreBtn {background:#fff;}

			/* temp lnb_2d */
			/*
			.lnbIngGoodsWrap {float:left;margin-left:60px;width:890px;}
				.lnbIngGoodsWrap .slider {clear:both;width:100%;height:290px;}
					.lnbIngGoodsWrap .sliderItem {float:left;display:block;margin-top:20px;}
						.lothItem {float:left;width:200px;height:252px;text-align:center;background:#fff;border:1px solid #ddd;}
						.lothItem:hover {border:1px solid #333;}
						.lnbIngGoodsWrap .sliderItem:first-child {margin-left:10px;}
							.lothiTit {float:left;margin:20px 0 15px 0;width:100%;font:500 16px / 22px 'Noto Sans Kr';color:#333;}
							.lothiImgBox {float:left;width:100%;height:110px;}
								.lothiImgBox img {width:auto;}
							.lothiPrice {float:left;margin:15px 0 20px 0;width:100%;font:500 22px / 22px 'Noto Sans Kr';color:#c82358;}
								.lothiPrice span {font-family:'Arial';font-weight:600;}
			*/

/* snb */
/*
#snbWrap {float:left;width:100%;}
	.snbTitle {float:left;width:100%;height:100px;font-size:3em;letter-spacing:-0.025em;text-align:center;font-weight:400;color:#fff;background:#c6a370;}
		.snbBg {width:100%;height:100%;line-height:100px;}
	.snb {float:left;width:100%;}
	.snb_1d {padding:20px 0;background:#f7f7f7;}
		.snb_1d > li {float:left;width:100%;}
		.snb.snb_1d > li.actOn,
		.snb.snb_1d > li.openLi,
		.snb.snb_1d > li:hover {}
			.snb_1d > li > a {display:block;padding:0 20px;width:100%;height:50px;line-height:50px;font-weight:300;color:#666;font-size:1.6em;letter-spacing:0;}
			.snb_1d > li.actOn > a,
			.snb_1d > li.openLi > a {color:#c6a370;font-weight:500;}
			.snb_1d > li > a > i {float:right;line-height:32px;}
				.snb_2d {display:block;}
					.snb_2d > li {float:left;width:100%;background:#f7f7f7;}
						.snb_2d > li > a {display:block;padding:0 20px 0 70px;width:100%;height:25px;line-height:25px;color:#666;font-size:1.2em;letter-spacing:-0.05em;}
						.snb_2d > li:first-child > a {background:url(../images/common/snb_2d_bg.gif) no-repeat 20px 8px;}
						.snb_2d:hover > li:first-child > a,
						.snb_1d > li.actOn .snb_2d > li:first-child > a {background:url(../images/common/snb_2d_bg_on.gif) no-repeat 20px 8px;}
						.snb_2d > li.actOn > a {color:#cc5222;}
*/

/* footer */
#footer .wWrap {}
	/*
	#fBoardBox {float:left;width:100%;height:65px;border-top:1px solid #888;border-bottom:1px solid #e2e2e2;}
		#noticeBox {position:relative;float:left;width:100%;}
		#faqBox {position:relative;float:right;width:100%;}
			#fBoardBox h4 {float:left;width:20%;line-height:65px;font-size:1.4em;font-weight:500;color:#252525;}
			#fBoardBox .listBox {position:relative;float:left;margin-top:20px;width:70%;height:25px;overflow:hidden;}
				#fBoardBox .listBox ul {position:absolute;top:0;float:left;width:100%;}
					#fBoardBox .listBox li {float:left;width:100%;height:25px;line-height:25px;color:#666;}
						#fBoardBox .listBox li a {float:left;width:100%;font-family:"dotum";}
							#fBoardBox .listTit {float:left;width:70%;font-size:1.2em;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
							#fBoardBox .listDate {float:right;width:20%;font-size:1.2em;text-align:right;}
							#fBoardBox .listBox li a:hover .listTit,
							#fBoardBox .listBox li a:hover .listDate {}
			#fBoardBox .scrollBox {position:absolute;width:13px;top:20px;right:0px;}
				#fBoardBox .scrollBox a {float:left;width:13px;height:13px;}
				#fBoardBox .scrollBox .scrlUp {background:url(../images/common/scroll_bg.gif) no-repeat 0 0;}
				#fBoardBox .scrollBox .scrlDown {background:url(../images/common/scroll_bg.gif) no-repeat 0 -13px;}
	*/
	#bnb {float:left;width:100%;text-align:center;background:#6d6d6d;}
		#bnb li {display:inline-block;padding-left:10px;background:url(../images/common/blt_bnb_dot_bg.png) no-repeat 3px 50%;background-size:2px;}
		#bnb li:first-child {padding-left:0;background:none;}
		#bnb li a {line-height:40px;font-size:1.2em;color:#e1e1e1;letter-spacing:-0.05em;}
	#footerInfoBox {float:left;padding:15px 0;width:100%;background:#888;}
		#footerInfoBox .ftiB {float:left;width:100%;text-align:center;}
			#footerInfoBox .ftiB li {line-height:16px;font-weight:300;font-size:1em;color:#ddd;letter-spacing:-0.05em;}
			#footerInfoBox .ftiB li a {color:#ddd;}

/* quick */
/*
#quickMenuBox {position:absolute;top:255px;left:-121px;width:101px;}
	.qckTop {padding-top:45px;width:100%;height:66px;font-size:1.2em;color:#333;font-weight:500;text-align:center;background:url(../images/common/guick_bg_1.gif) no-repeat 0 0;}
	.qckMid {width:100%;background:url(../images/common/guick_bg_2.gif);}
		.qckMid li {background:url(../images/common/line_w_dot.png) no-repeat 50% 0;}
			.qckMid a {display:block;padding-top:55px;width:100%;height:78px;font-size:1.2em;letter-spacing:-0.05em;color:#777;font-weight:300;text-align:center;}
			.qckMid a:hover {color:#333;}
			.qckM_1 {background:url(../images/common/quick_m_1.png) no-repeat 50% 15px;}
			.qckM_2 {background:url(../images/common/quick_m_2.png) no-repeat 50% 15px;}
			.qckM_3 {background:url(../images/common/quick_m_3.png) no-repeat 50% 15px;}
	.qckBtm {width:100%;height:10px;background:url(../images/common/guick_bg_3.gif) no-repeat 0 0;}
*/

/* contentsTopBtn */
#contentsTopBtn {position:absolute;top:0;right:0;width:35px;opacity:0;}
#contentsTopBtn2 {position:fixed;bottom:50px;right:-50px;opacity:1;}

/* sub */
/*
#locationBox {float:left;margin-top:20px;margin-bottom:40px;width:100%;}
	#locationBox div > ul > li {float:left;padding-left:30px;line-height:30px;font-family:"dotum";font-size:1.2em;letter-spacing:-0.05em;font-weight:300;color:#666;background:url(../images/common/location_bg.gif) no-repeat 12px 50%;}
	#locationBox li a {color:#666;}
	#locationBox li:first-child {padding-left:0;background:none;}
	.gdsLocationSlt {float:left;width:250px;}
*/
.subPage_title {float:left;margin-bottom:40px;width:100%;}
	.subPage_title h2 {float:left;padding-right:20px;font-size:4.4em;letter-spacing:-0.05em;font-weight:500;color:#222;}
	.subPage_title .subPage_title_desc {float:left;margin-top:15px;padding-left:20px;line-height:18px;font-size:1.6em;letter-spacing:-0.05em;font-weight:300;color:#666;background:url(../images/common/subPage_title_bg.png) no-repeat 0 50%;}

/* ie 용 스크롤 바 *********************************************/
html {	scrollbar-arrow-color: #efefef;
		scrollbar-Track-Color: #efefef;
		scrollbar-base-color: #dfdfdf;
		scrollbar-Face-Color: #dfdfdf;
		scrollbar-3dLight-Color: #dfdfdf;
		scrollbar-DarkShadow-Color: #dfdfdf;
		scrollbar-Highlight-Color: #dfdfdf;
		scrollbar-Shadow-Color: #dfdfdf
	}
/* Chrome, Safari용 스크롤 바 */
::-webkit-scrollbar {width:12px;height:12px;}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {display:block;width:12px;height:12px;background:url() rgba(0,0,0,.05);}
::-webkit-scrollbar-track {background: rgba(0,0,0,.05);}
::-webkit-scrollbar-thumb {background: rgba(0,0,0,.1);}
/* ------------------------------------------------------------ */

/* Base Button Style s ------------------------------------------------------------ */
.btnEff {
  position: relative;
  display: block;
  transform-style: flat;
  transition: all 250ms ease-out;
}
.btnEff:before, .btnEff:after {
  content: "";
  position: absolute;
  z-index: -2;
  transition: all 250ms ease-out;
}

/* Paper effect – slightly raised off background */
.paper {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
  border-color: #dedede;
}

/* Raised effect – pushes up on hover */
.paper-raise:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.paper-raise:hover {
  /* border: 1px solid #fff; */
}
.paper-raise:hover:before {
  box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
}

.paper-raise-flatten {
  border-color: #fff;
  box-shadow: none;
}
.paper-raise-flatten:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
}
.paper-raise-flatten:hover {
  /*border-color: #dedede;*/
}
.paper-raise-flatten:hover:before {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
}

/* Lift effect – lifts sides on hover */
.paper-lift:before, .paper-lift:after {
  bottom: 15px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  max-height: 100px;
  box-shadow: 0 10px 10px rgba(31, 31, 31, 0.5);
}
.paper-lift:before {
  left: 8px;
  transform: rotate(-3deg);
}
.paper-lift:after {
  right: 8px;
  transform: rotate(3deg);
}
.paper-lift:hover {
  border-color: transparent;
}
.paper-lift:hover:before, .paper-lift:hover:after {
  box-shadow: 0 15px 12px rgba(31, 31, 31, 0.7);
}
.paper-lift:hover:before {
  left: 10px;
}
.paper-lift:hover:after {
  right: 10px;
}

/* Flatten effect – flattens sides on hover */
.paper-flatten {
  border: 1px solid transparent;
}
.paper-flatten:before, .paper-flatten:after {
  bottom: 15px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  max-height: 100px;
  box-shadow: 0 15px 12px rgba(31, 31, 31, 0.7);
}
.paper-flatten:before {
  left: 10px;
  transform: rotate(-3deg);
}
.paper-flatten:after {
  right: 10px;
  transform: rotate(3deg);
}
.paper-flatten:hover {
  border-color: #ccc;
}
.paper-flatten:hover:before, .paper-flatten:hover:after {
  transition: box-shadow 600ms ease-out, left 200ms, right 200ms;
  box-shadow: 0 8px 8px rgba(31, 31, 31, 0.5);
}
.paper-flatten:hover:before {
  left: 5px;
}
.paper-flatten:hover:after {
  right: 5px;
}

/* Curl effects – curls corners on hover */
.paper-curl:before, .paper-curl:after,
.paper-curl-right:before,
.paper-curl-right:after {
  bottom: 12px;
  width: 50%;
  height: 55%;
  max-width: 200px;
  max-height: 100px;
  box-shadow: 1px 8px 12px rgba(31, 31, 31, 0.6);
}
.paper-curl:before,
.paper-curl-right:before {
  left: 10px;
}
.paper-curl:after,
.paper-curl-right:after {
  right: 10px;
}
.paper-curl:hover:before, .paper-curl:hover:after,
.paper-curl-right:hover:before,
.paper-curl-right:hover:after {
  box-shadow: 1px 8px 12px rgba(31, 31, 31, 0.8);
}
.paper-curl:hover:before,
.paper-curl-right:hover:before {
  transform: skew(-8deg) rotate(-3deg);
}
.paper-curl:hover:after,
.paper-curl-right:hover:after {
  transform: skew(8deg) rotate(3deg);
}

.paper-curl:hover {
  border-radius: 0 0 40% 40% / 0 0 30% 30%;
}

.paper-curl-right:before {
  display: none;
}
.paper-curl-right:hover {
  border-radius: 0 0 40% 0 / 0 0 30% 0;
}

/* Curl effects – curls right hand side on hover */
.paper-curl-right-side:before, .paper-curl-right-side:after {
  right: 10px;
  width: 50%;
  height: 55%;
  max-width: 200px;
  max-height: 100px;
}
.paper-curl-right-side:before {
  top: 12px;
  box-shadow: 1px -4px 12px rgba(31, 31, 31, 0.6);
}
.paper-curl-right-side:after {
  bottom: 12px;
  box-shadow: 1px 4px 12px rgba(31, 31, 31, 0.6);
}
.paper-curl-right-side:hover {
  right: 0;
  border-radius: 0 3% 3% 0 / 0% 50% 50% 0;
}
.paper-curl-right-side:hover:before {
  box-shadow: 10px -4px 12px rgba(31, 31, 31, 0.8);
  transform: skew(-8deg) rotate(-3deg);
}
.paper-curl-right-side:hover:after {
  box-shadow: 10px 4px 12px rgba(31, 31, 31, 0.8);
  transform: skew(8deg) rotate(3deg);
}
/* Base Button Style e ------------------------------------------------------------ */

/* fadeEffect s ------------------------------------------------------------*/
.fadeEff {-ms-filter:alpha(opacity=0); filter:alpha(opacity=0); opacity:0; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; backface-visibility: hidden;}
.fadeEff.in-view {-ms-filter:alpha(opacity=100); filter:alpha(opacity=100); opacity:1;}

.fadeEff.fade-in {-webkit-transition:all .7s ease-in; -moz-transition:all .7s ease-in; -o-transition:all .7s ease-in; -ms-transition:all .7s ease-in; transition:all .7s ease-in;}

.fadeEff.slide-up {
	-webkit-transform:translate3d(0, 50px, 0); -moz-transform:translate3d(0, 50px, 0); -o-transform:translate3d(0, 50px, 0); -ms-transform:translate3d(0, 50px, 0); transform:translate3d(0, 50px, 0);
}

.fadeEff.slide-down {
	-webkit-transform:translate3d(0, -50px, 0); -moz-transform:translate3d(0, -50px, 0); -o-transform:translate3d(0, -50px, 0); -ms-transform:translate3d(0, -50px, 0); transform:translate3d(0, -100px, 0);
}

.fadeEff.slide-lt {
	-webkit-transform:translate3d(-50px, 0, 0); -moz-transform:translate3d(-50px, 0, 0); -o-transform:translate3d(-50px, 0, 0); -ms-transform:translate3d(-50px, 0, 0); transform:translate3d(-100px, 0, 0);
}

.fadeEff.slide-rt {
	-webkit-transform:translate3d(50px, 0, 0); -moz-transform:translate3d(50px, 0, 0); -o-transform:translate3d(50px, 0, 0); -ms-transform:translate3d(50px, 0, 0); transform:translate3d(100px, 0, 0);
}

.fadeEff.slide-up,
.fadeEff.slide-down,
.fadeEff.slide-lt,
.fadeEff.slide-rt {-webkit-transition:all .7s ease-out; -moz-transition:all .7s ease-out; -o-transition:all .7s ease-out; -ms-transition:all .7s ease-out; transition:all .7s ease-out;}

.fadeEff.slide-up.in-view,
.fadeEff.slide-down.in-view,
.fadeEff.slide-lt.in-view,
.fadeEff.slide-rt.in-view {
	-webkit-transform:translate3d(0,0,0); -moz-transform:translate3d(0,0,0); -o-transform:translate3d(0,0,0); -ms-transform:translate3d(0,0,0); transform:translate3d(0,0,0);
}

.fadeEff.e1 {-webkit-transition-delay:.1s; -moz-transition-delay:.1s; -o-transition-delay:.1s; -ms-transition-delay:.1s; transition-delay:.1s;}
.fadeEff.e2 {-webkit-transition-delay:.2s; -moz-transition-delay:.2s; -o-transition-delay:.2s; -ms-transition-delay:.2s; transition-delay:.2s;}
.fadeEff.e3 {-webkit-transition-delay:.3s; -moz-transition-delay:.3s; -o-transition-delay:.3s; -ms-transition-delay:.3s; transition-delay:.3s;}
.fadeEff.e4 {-webkit-transition-delay:.4s; -moz-transition-delay:.4s; -o-transition-delay:.4s; -ms-transition-delay:.4s; transition-delay:.4s;}
.fadeEff.e5 {-webkit-transition-delay:.5s; -moz-transition-delay:.5s; -o-transition-delay:.5s; -ms-transition-delay:.5s; transition-delay:.5s;}
.fadeEff.e6 {-webkit-transition-delay:.6s; -moz-transition-delay:.6s; -o-transition-delay:.6s; -ms-transition-delay:.6s; transition-delay:.6s;}
.fadeEff.e7 {-webkit-transition-delay:.7s; -moz-transition-delay:.7s; -o-transition-delay:.7s; -ms-transition-delay:.7s; transition-delay:.7s;}
.fadeEff.e8 {-webkit-transition-delay:.8s; -moz-transition-delay:.8s; -o-transition-delay:.8s; -ms-transition-delay:.8s; transition-delay:.8s;}
.fadeEff.e9 {-webkit-transition-delay:.9s; -moz-transition-delay:.9s; -o-transition-delay:.9s; -ms-transition-delay:.9s; transition-delay:.9s;}

.multi-step-lt.in-view {
	-webkit-animation:lt_animation 1.3s ease-in; -moz-animation:lt_animation 1.3s ease-in; animation:lt_animation 1.3s ease-in;
}
.multi-step-rt.in-view {
	-webkit-animation:rt_animation 1.3s linear; -moz-animation:rt_animation 1.3s linear; animation:rt_animation 1.3s linear;
}

@-webkit-keyframes lt_animation {
	0% {-ms-filter:alpha(opacity=0); filter:alpha(opacity=0); opacity:0; transform:rotate(180deg) translate3d(100%,100%,0);}
	75% {-ms-filter:alpha(opacity=80); filter:alpha(opacity=80); opacity:.8; transform:rotate(-40deg);}
	100% {-ms-filter:alpha(opacity=100); filter:alpha(opacity=100); opacity:1; transform:rotate(0deg) translate3d(0,0,0);}
}
@-moz-keyframes lt_animation {
	0% {-ms-filter:alpha(opacity=0); filter:alpha(opacity=0); opacity:0; transform:rotate(180deg) translate3d(100%,100%,0);}
	75% {-ms-filter:alpha(opacity=80); filter:alpha(opacity=80); opacity:.8; transform:rotate(-40deg);}
	100% {-ms-filter:alpha(opacity=100); filter:alpha(opacity=100); opacity:1; transform:rotate(0deg) translate3d(0,0,0);}
}
@keyframes lt_animation {
	0% {-ms-filter:alpha(opacity=0); filter:alpha(opacity=0); opacity:0; transform:rotate(180deg) translate3d(100%,100%,0);}
	75% {-ms-filter:alpha(opacity=80); filter:alpha(opacity=80); opacity:.8; transform:rotate(-40deg);}
	100% {-ms-filter:alpha(opacity=100); filter:alpha(opacity=100); opacity:1; transform:rotate(0deg) translate3d(0,0,0);}
}

@-webkit-keyframes rt_animation {
	0% {-ms-filter:alpha(opacity=0); filter:alpha(opacity=0); opacity:0; transform:rotate(180deg) translate3d(-100%,-100%,0);}
	75% {-ms-filter:alpha(opacity=80); filter:alpha(opacity=80); opacity:.8; transform:rotate(40deg);}
	100% {-ms-filter:alpha(opacity=100); filter:alpha(opacity=100); opacity:1; transform:rotate(0deg) translate3d(0,0,0);}
}
@-moz-keyframes rt_animation {
	0% {-ms-filter:alpha(opacity=0); filter:alpha(opacity=0); opacity:0; transform:rotate(180deg) translate3d(-100%,-100%,0);}
	75% {-ms-filter:alpha(opacity=80); filter:alpha(opacity=80); opacity:.8; transform:rotate(40deg);}
	100% {-ms-filter:alpha(opacity=100); filter:alpha(opacity=100); opacity:1; transform:rotate(0deg) translate3d(0,0,0);}
}
@keyframes rt_animation {
	0% {-ms-filter:alpha(opacity=0); filter:alpha(opacity=0); opacity:0; transform:rotate(180deg) translate3d(-100%,-100%,0);}
	75% {-ms-filter:alpha(opacity=80); filter:alpha(opacity=80); opacity:.8; transform:rotate(40deg);}
	100% {-ms-filter:alpha(opacity=100); filter:alpha(opacity=100); opacity:1; transform:rotate(0deg) translate3d(0,0,0);}
}

.hoverEff {
	-webkit-animation-name:rotateHover;
	-webkit-animation-duration:0.5s;
	-webkit-animation-timing-function:linear;
	-webkit-animation-delay:0s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:alternate;
	-webkit-animation-play-state:running;
	
	-moz-animation-name:rotateHover;
	-moz-animation-duration:0.5s;
	-moz-animation-timing-function:linear;
	-moz-animation-delay:0s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:alternate;
	-moz-animation-play-state:running;
	
	-o-animation-name:rotateHover;
	-o-animation-duration:0.5s;
	-o-animation-timing-function:linear;
	-o-animation-delay:0s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:alternate;
	-o-animation-play-state:running;

	-ms-animation-name:rotateHover;
	-ms-animation-duration:0.5s;
	-ms-animation-timing-function:linear;
	-ms-animation-delay:0s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:alternate;
	-ms-animation-play-state:running;

	animation-name:rotateHover;
	animation-duration:0.5s;
	animation-timing-function:linear;
	animation-delay:0s;
	animation-iteration-count:infinite;
	animation-direction: alternate;
	animation-play-state:running;
}

@-webkit-keyframes rotateHover{
	from{transform:rotate(0deg);}
	50%{transform:rotate(-5deg);}
	to{transform:rotate(5deg);}
}
@-moz-keyframes rotateHover{
	from{transform:rotate(0deg);}
	50%{transform:rotate(-5deg);}
	to{transform:rotate(5deg);}
}
@keyframes rotateHover{
	from{transform:rotate(0deg);}
	50%{transform:rotate(-5deg);}
	to{transform:rotate(5deg);}
}

.hoverEff2 {
	-webkit-animation-name:rotateHover2;
	-webkit-animation-duration:0.5s;
	-webkit-animation-timing-function:linear;
	-webkit-animation-delay:0s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:alternate;
	-webkit-animation-play-state:running;
	
	-moz-animation-name:rotateHover2;
	-moz-animation-duration:0.5s;
	-moz-animation-timing-function:linear;
	-moz-animation-delay:0s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:alternate;
	-moz-animation-play-state:running;
	
	-o-animation-name:rotateHover2;
	-o-animation-duration:0.5s;
	-o-animation-timing-function:linear;
	-o-animation-delay:0s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:alternate;
	-o-animation-play-state:running;

	-ms-animation-name:rotateHover2;
	-ms-animation-duration:0.5s;
	-ms-animation-timing-function:linear;
	-ms-animation-delay:0s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:alternate;
	-ms-animation-play-state:running;

	animation-name:rotateHover2;
	animation-duration:0.5s;
	animation-timing-function:linear;
	animation-delay:0s;
	animation-iteration-count:infinite;
	animation-direction: alternate;
	animation-play-state:running;
}

@-webkit-keyframes rotateHover2{
	from{transform:rotate(-10deg);}
	50%{transform:rotate(0deg);}
	to{transform:rotate(10deg);}
}
@-moz-keyframes rotateHover2{
	from{transform:rotate(-10deg);}
	50%{transform:rotate(0deg);}
	to{transform:rotate(10deg);}
}
@keyframes rotateHover2{
	from{transform:rotate(-10deg);}
	50%{transform:rotate(0deg);}
	to{transform:rotate(10deg);}
}
/* fadeEffect e ------------------------------------------------------------*/

/* tBlink s ------------------------------------------------------------*/
.tBlink {
	animation-name:tBlink_Eft;
	animation-duration:1s;
	animation-timing-function:linear;
	animation-delay:0s;
	animation-iteration-count:infinite;
}
@keyframes tBlink_Eft {
	0% {color:red;}
	25% {color:blue;}
	75% {color:orange;}
	100% {color:green;}
}
.tBlink2 {
	animation-name:tBlink_Eft2;
	animation-duration:2s;
	animation-timing-function:linear;
	animation-delay:0s;
	animation-iteration-count:infinite;
}
@keyframes tBlink_Eft2 {
	0% {color:#091b25;}
	25% {color:#eacb5f;}
	50% {color:#091b25;}
	75% {color:#eacb5f;}
	100% {color:#091b25;}
}
.tBlink3 {
	animation-name:tBlink_Eft3;
	animation-duration:2s;
	animation-timing-function:linear;
	animation-delay:0s;
	animation-iteration-count:infinite;
}
@keyframes tBlink_Eft3 {
	0% {color:#fff;}
	25% {color:#333;}
	50% {color:#fff;}
	75% {color:#333;}
	100% {color:#fff;}
}
/* tBlink e ------------------------------------------------------------*/