@charset "utf-8";

/*
===============================================================================================
1.	버    전 : divpop.css
2.	작 성 자 : Ryu
3.	참    고 : commone.css
===============================================================================================
*/
body {overflow:visible;}
body.actPop {overflow:hidden;}

/* modal */
.modal-dialog {margin:20% auto;width:400px;}

/* divPopup */
.divPopupBg {display:none;position:fixed;width:100%;height:100%;background:#000;opacity:0.5;z-index:50;}
.divPopupBg2 {display:none;position:fixed;width:100%;height:100%;background:#000;opacity:0.8;z-index:300;}
.divPopupBgFidxed {display:none;position:fixed;top:0;width:100%;height:100%;background:#000;opacity:0.8;z-index:901;}

/*.divPopupBox {display:none;position:fixed;width:90%;top:50%;left:50%;background:#fff;z-index:200}*/
.divPopupBox {display:none;position:absolute;top:0;left:0;/*height:100%;*/background:#fff;z-index:200;}
	.divPopWrap {position:relative;padding:0 5%;width:100%;}
	.divPopWrap2 {position:relative;width:100%;max-height:360px;overflow-y:scroll;}
		.closeIcon {position:absolute;top:20px;right:20px;width:24px;cursor:pointer;z-index:10;}
		.closeIcon2 {position:absolute;top:13px;right:20px;width:18px;cursor:pointer;z-index:10;}
		.closeIcon3 {position:absolute;top:5px;right:5px;width:14px;cursor:pointer;z-index:10;}
		.todayCloseText {position:absolute;top:32px;right:55px;font-family:'dotum';font-size:12px;color:#000;cursor:pointer;z-index:10;}
		.dpTitle {margin-bottom:10px;padding-bottom:10px;height:45px;line-height:45px;font-weight:500;font-size:17px;color:#fff;text-align:center;background:#4b4b4b;}
		.dpCon {padding:10px 20px;}
			.dpCon .pageBtnBox .mBtn,
			.dpCon .pageBtnBox .mBtn2,
			.dpCon .pageBtnBox .dmBtn,
			.dpCon .pageBtnBox .mBtnH {padding-right:5px;padding-left:5px;}
			.dpCon .grayBgBox {padding:15px 20px;background:#f5f5f5;}
				.dpCon h5 {padding:0;width:100%;font-weight:normal;font-size:15px;color:#333;text-align:center;letter-spacing:-0.05em;}
			.dpCon .pageBtnBox {float:none;margin-bottom:10px;}
			.dpCon .dotWLine {margin-top:10px;padding-top:20px;background:url(../images/common/line_w_dot2.png) repeat-x 0 0;}
			.dpCon .brownDotLi li {font-size:12px;}
	.todayClosePopWrap {position:absolute;bottom:10px;left:20px;}
		.todayClosePopWrap label {font-family:'dotum';font-size:12px;}
.mainPagePop {position:fixed;top:50%;left:50%;max-width:480px;z-index:910;}
.subPagePop {position:fixed;top:50%;left:50%;max-width:480px;z-index:910;}

/* mainPopup */
#mainPopupBox {margin-top:0px;margin-left:0px;width:100%;z-index:910;}
	#mainPopupBox .divPopWrap {padding:0;}


/* phoneCertiPopup */
#phoneCertiPopBox {width:90%;}
	#phoneCertiPopWrap .dpCon {padding:10px 20px;text-align:center;}
		#phoneCertiPopWrap .mbCertiBox {background-position:50% 30%;}
			#phoneCertiPopWrap .mbCertiBox .mBtn {margin-top:180px;}

/* findIdResultPopup */
#findIdResultPopBox {width:90%;}
	#findIdResultPopWrap .dpCon {text-align:center;}
		#findIdResultPopWrap .grayBgBox {font-size:}
		#findIdResultPopWrap .dmBtn {width:45%;}
		#findIdResultPopWrap .dmBtn:first-child {margin-right:5px;}

/* snsSharePopup */
#snsSharePopBox {width:90%;}
	#snsSharePopWrap .dpCon {padding:30px 20px;text-align:center;}
		#snsSharePopWrap .dpCon li {width:100%;}
		#snsSharePopWrap .dpCon li:first-child {margin-bottom:10px;}
		#snsSharePopWrap .dpCon li a {}
		#snsSharePopWrap .snsShare_f {}
		#snsSharePopWrap .snsShare_t {}

/* snsProudPopup */
#snsProudPopBox {width:90%;}
	#snsProudPopWrap .dpCon {padding:30px 20px;text-align:center;}
		#snsProudPopWrap .dpCon li {width:100%;}
		#snsProudPopWrap .dpCon li:first-child {margin-bottom:10px;}
		#snsProudPopWrap .dpCon li a {}
		#snsProudPopWrap .snsProud_f {}
		#snsProudPopWrap .snsProud_t {}

/* buyFixPopup */
#buyFixPopBox {width:90%;}
	#buyFixPopWrap .dpGoodsTitle {width:100%;font:normal 12px "Noto Sans KR";}
		#buyFixPopWrap .dmBtn {width:49%;}

/* buyFixAcceptPopup */
#buyFixAcceptPopBox {width:90%;}

/* orderCancelPopup */
#orderCancelPopBox {width:90%;}
	#orderCancelPopWrap {}
	#orderCancelPopWrap .orderCancelCauseSlt {margin-top:20px;width:100%;}
	#orderCancelPopWrap .guideTxt {margin-top:10px;width:100%;font-size:1.3em;}
	#orderCancelPopWrap .gridL {float:left;width:100%;}
		#orderCancelPopWrap .returnBankSlt {width:100%;}
	#orderCancelPopWrap .gridR {float:right;width:100%;}
		.returnBankSlt {width:100%;}
		#dpConAccount {width:100%;font:normal 12px "dotum";}
	#orderCancelPopWrap .dmBtn {width:49%;}

/* orderCancelAcceptPopup */
#orderCancelAcceptPopBox {width:90%;}
	#orderCancelPopWrap .dpConOrderCancelCause {width:100%;font:bold 14px "dotum";text-align:center;}
	
/* returnApplyPopup */
#returnApplyPopBox {width:90%;}
	#returnApplyPopWrap .returnCauseSlt {width:100%;}
	#returnApplyPopWrap .regText {margin-top:10px;margin-bottom:10px;width:100%;}
		#returnApplyPopWrap .regText textarea {width:100%;}
	#returnApplyPopWrap .guideTxt {margin-top:10px;width:100%;font-size:1.3em;}
	#returnApplyPopWrap .dmBtn {width:49%;}

/* returnAcceptPopup */
#returnAcceptPopBox {width:90%;}
	#returnAcceptPopWrap .dpGoodsTitle {width:100%;font:normal 12px "Noto Sans KR";}
	#returnAcceptPopWrap .dmBtn {width:49%;}

/* changeApplyPopup */
#changeApplyPopBox {width:90%;}
	#changeApplyPopWrap .regText {float:none;width:100%;font-size:12px;}
		#changeApplyPopWrap .regText textarea {margin-top:10px;width:100%;}
		#changeApplyPopWrap .regPhoneNumText {float:left;margin:10px 0;width:100%;}
			#changeApplyPopWrap .regPhoneNumText li {float:left;width:100%;}
		#changeApplyPopWrap h5 {float:left;margin-bottom:10px;padding-bottom:10px;width:100%;border-bottom:1px solid #eee;}
		#changeApplyPopWrap .inputTelBox {clear:both;}
	#changeApplyPopBox .dpCon .pageBtnBox {float:left;}
		#changeApplyPopBox .dmBtn {width:49%;}

/* changeAcceptPopup */
#changeAcceptPopBox {width:90%;}
	#changeAcceptPopWrap .dpConTelNum {width:100%;font:bold 14px "Noto Sans KR";text-align:center;}
	#changeAcceptPopWrap .dmBtn {width:49%;}

/* transferApplyPopup */
#transferApplyPopBox {width:90%;}
	#transferApplyPopWrap .grayBgBox {width:100%;font:500 14px "Noto Sans KR";text-align:center;}
	#transferApplyPopWrap .dmBtn {width:49%;}

/* transferAcceptPopup */
#transferAcceptPopBox {width:90%;}
	#transferAcceptPopWrap .grayBgBox {width:100%;font:500 14px "Noto Sans KR";text-align:center;}
	#transferAcceptPopWrap .dmBtn {width:49%;}

/* findPwResetPopup */
#findPwResetPopBox1 {width:90%;}
#findPwResetPopBox2 {width:90%;}
	#findPwResetPopWrap .dpCon {padding:10px 20px;}
		#findPwResetPopWrap .dpCon ul,
		#findPwResetPopWrap .dpCon li {width:100%;}
			#findPwResetPopWrap .dpCon input {width:100%;}
			#findPwResetPopWrap .dmBtn {width:45%;}
			#findPwResetPopWrap .dmBtn:first-child {margin-right:5px;}

/* payCompletePopBox */
#payCompletePopBox_card {width:90%;}
#payCompletePopBox_realtime {width:90%;}
#payCompletePopBox_virtual {width:90%;}
#payCompletePopBox_tagmoney {width:90%;}
#payCompletePopBox_error {width:90%;}
	#payCompletePopWrap .grayBgBox {clear:both;padding:25px 20px;margin-bottom:10px;}
		#payCompletePopWrap .grayBgBox h5 {line-height:28px;}
	#payCompletePopWrap .viewTable {border-left:0;letter-spacing:-0.05em;}
		#payCompletePopWrap .viewTable th,
		#payCompletePopWrap .viewTable td {padding:5px 5px;text-align:left;}
		#payCompletePopWrap .viewTable th:last-child,
		#payCompletePopWrap .viewTable td:last-child {border-right:0;}
		#payCompletePopWrap .inputTelBox select.mPhonSlt {float:left;width:20%;}
		#payCompletePopWrap .inputTelBox > input[type="text"] {float:left;width:17%;font-size:14px;}
		#payCompletePopWrap .inputTelBox .mBtn2 {margin-top:0;margin-left:5px;width:76px;height:35px;line-height:35px;}
	#payCompletePopWrap .accountSmsBox {float:left;width:100%;margin:10px 0 10px 0;padding:10px 10px 10px 0;border-bottom:1px solid #ddd;}
	#payCompletePopWrap .inputTelBox {float:left;margin-bottom:20px;}
	#payCompletePopWrap .pageBtnBox {clear:both;padding-top:20px;}
		#payCompletePopWrap .dmBtn {width:45%;}

/* smsSendCompletePopBox */
#smsSendCompletePopBox {width:90%;}
	#smsSendCompletePopWrap .grayBgBox {clear:both;padding:25px 20px;margin-bottom:10px;}
		#smsSendCompletePopWrap .grayBgBox h5 {line-height:28px;}
	#smsSendCompletePopWrap .viewTable {border-left:0;letter-spacing:-0.05em;}
		#smsSendCompletePopWrap .viewTable th,
		#smsSendCompletePopWrap .viewTable td {padding:5px 5px;text-align:left;}
		#smsSendCompletePopWrap .viewTable th:last-child,
		#smsSendCompletePopWrap .viewTable td:last-child {border-right:0;}
	#smsSendCompletePopWrap .pageBtnBox {clear:both;padding-top:20px;}
		#smsSendCompletePopWrap .dmBtn {width:45%;}

/* encoreApplyPopup */
#encoreApplyPopBox,
#encoreCompletePopBox {width:90%;}
	#encorePopWrap {}
		#encorePopWrap .dpGoodsName {float:left;padding:10px 20px;width:100%;font:normal 12px "Noto Sans KR";border:1px solid #333;}
		#encorePopWrap .brownDotLi {float:left;width:100%;}
			#encorePopWrap .brownDotLi li {font-family:"Noto Sans KR";font-size:1.3em;}
		#encorePopWrap .grayBgBox {float:left;width:100%;padding:20px 0;}
			#encorePopWrap .grayBgBox h5 {line-height:24px;}
		#encorePopWrap .checkBoxWrap {float:left;width:100%;font:normal 12px "Noto Sans KR";}
		#encorePopWrap .dpCon .dotWLine {margin-top:10px;padding-top:10px;}
		#encorePopWrap .accountSmsBox {float:left;width:100%;margin:0 0 10px 0;padding:10px 10px 10px 0;border-bottom:1px solid #ddd;}
		#encorePopWrap .inputTelBox {float:left;margin-bottom:10px;}
		#encorePopWrap .pageBtnBox {clear:both;}

/* smsInformApplyPopup */
#smsInformApplyPopBox,
#smsInformCompletePopBox {width:90%;}
	#smsInformPopWrap {}
		#smsInformPopWrap .dpGoodsName {float:left;padding:10px 20px;width:100%;font:normal 12px "Noto Sans KR";border:1px solid #333;}
		#smsInformPopWrap .brownDotLi {float:left;width:100%;}
			#smsInformPopWrap .brownDotLi li {font-family:"Noto Sans KR";font-size:1.3em;}
		#smsInformPopWrap .grayBgBox {float:left;width:100%;padding:20px 0;}
			#smsInformPopWrap .grayBgBox h5 {line-height:24px;}
		#smsInformPopWrap .checkBoxWrap {float:left;width:100%;font:normal 12px "Noto Sans KR";}
		#smsInformPopWrap .dpCon .dotWLine {margin-top:10px;padding-top:10px;}
		#smsInformPopWrap .accountSmsBox {float:left;width:100%;margin:0 0 10px 0;padding:10px 10px 10px 0;border-bottom:1px solid #ddd;}
		#smsInformPopWrap .inputTelBox {float:left;margin-bottom:10px;}
		#smsInformPopWrap .pageBtnBox {clear:both;}

/* repleRegPopup */
#repleRegPopBox {width:90%;}
	#repleRegPopWrap {}
		#repleRegPopWrap .grayBgBox {padding:30px 20px;}

/* transferRegPopup */
#transferRegPopBox {width:90%;}
	#transferRegPopWrap {}
		#transferRegPopWrap .grayBgBox {padding:40px 20px;}
		#transferRegPopWrap .brownDotLi {float:left;width:100%;line-height:18px;}
		#transferRegPopWrap .pageBtnBox {float:left;}
			#transferRegPopWrap .pageBtnBox.dotWLine {padding-top:0;}

/* transferRegCompletePopup */
#transferRegCompletePopBox {width:90%;}
	#transferRegCompletePopWrap {}
		#transferRegCompletePopWrap .grayBgBox {padding:30px 20px;}

/* certiCompletePopup */
#certiCompletePopBox {width:90%;}
	#certiCompletePopWrap .grayBgBox {padding:40px 0;}

/* certiFailPopup */
#certiFailPopBox {width:90%;}
	#certiFailPopWrap .grayBgBox {padding:20px;}
		#certiFailPopWrap .dotLineBottom {margin-bottom:20px;padding-bottom:20px;line-height:22px;}
		#certiFailPopWrap .grayBgBox p {font:500 14px / 30px "Noto Sans KR";text-align:center;color:#999;}

/* tPointChargeDonePopup */
#tPointChargeDonePopBox {width:90%;}
	#tPointChargeDonePopWrap .grayBgBox {padding:20px 0;}
	#tPointChargeDonePopWrap .viewTable {margin:20px 0;}

/* tMoneyChargeDonePopup */
#tMoneyChargeDonePopBox {width:90%;}
	#tMoneyChargeDonePopWrap .grayBgBox {padding:20px 0;}
	#tMoneyChargeDonePopWrap .viewTable {margin:20px 0;}

/* tagOpenMotion */
#tagOpenMotionBox {position:relative;width:100%;height:100%;overflow-y:auto;overflow-x:hidden;scrollbar:hidden;}

.italicTitle {font:italic 400 20px / 20px "BMDoHyeon";color:#fff;transform:rotate(-5deg) !important;text-shadow:1px 2px 5px #000;}
	.italicTitle span {font-style:italic;font-size:30px;}

#inputNumBox {margin-top:0;margin-left:0;width:100%;height:100%;text-align:center;background:url(../images/divpop/input_num_bg.png) no-repeat 50% 50%;background-size:cover;}
	#inputNumBox .closeIcon {width:18px;}
	.inpnTitle {position:relative;float:left;margin:10px auto;padding-top:40px;width:100%;z-index:1;}
		/*
		.inpnTitleBg {position:absolute;bottom:-25px;left:0;width:100%;z-index:-1;}
			.inpnTitleBg img {width:90%;}
		*/
	.inpnInputBox {position:relative;float:left;margin:0 0 20px 0;width:100%;}
		.inpnInputBox label {float:left;margin-top:10px;width:25%;font-weight:600;font-size:14px;color:#01172b;}
		input[type="text"].tagNumInput {float:right;width:75%;height:60px;font:800 3.8em / 60px "Noto Sans KR";color:#333;text-align:center;border:4px solid #313562;border-radius:10px;}
		.numResetBtn {position:absolute;top:50%;right:15px;margin-top:-10px;}
			.numResetBtn a {display:inline-block;width:20px;height:20px;background:url(../images/divpop/input_num_reset.png) no-repeat;background-size:20px;}
	.inpnKeyBox {clear:both;float:left;width:100%;}
		.inpnNumKey {float:left;width:100%;}
			.inpnNumKey li {float:left;width:25%;}
				.inpnNumKey li a {display:block;width:100%;height:100%;}
					.inpnNumKey li a img {width:90%;}
	#inputNumBox .pageBtnBox {margin-bottom:20px;width:100%;}
		.tagNumSubmit {display:block;}

#slotMachineBox {margin-top:0;margin-left:0;width:100%;text-align:center;background:url(../images/divpop/slotmachin_bg.png) no-repeat 50% 50%;background-size:auto 100%;overflow:hidden;}
	#slotMachineBox .closeIcon {width:18px;}
	.sltmTitle {position:relative;float:left;margin:0px auto;margin-top:20px;padding-top:10px;width:100%;z-index:1;}
		.sltmMsg {position:relative;margin:0 auto;width:100%;height:60px;z-index:1;background:url(../images/divpop/slotmachin_title1.png) no-repeat 50% 0;background-size:contain;}
		.sltmMsg.sltmRunning {background:url(../images/divpop/slotmachin_title2.png) no-repeat 50% 0;background-size:contain;}
		.sltmMsg.sltmEnd {background:url(../images/divpop/slotmachin_title3.png) no-repeat 50% 0;background-size:contain;}
		/*.sltmTitleBg {position:absolute;bottom:-10px;left:0;width:100%;z-index:-1;}*/
	#slotM {position:relative;float:left;width:100%;/*height:460px;*/}
		.sltmReelCount {position:relative;float:left;margin:10px 0 10px;width:100%;font:800 46px / 80px "Noto Sans KR";color:#fff;text-align:center;/*background:url(../images/divpop/slotmachin_box_bg2.png) no-repeat 
		50%;background-size:contain;*/}
			.sltmReelCount p {position:absolute;top:50%;left:0;margin-top:-45px;width:100%;text-align:center;z-index:1;}
		.sltmReelWrap {position:relative;float:left;width:100%;overflow:hidden;/*background:url(../images/divpop/slotmachin_box_bg1.png) no-repeat 50% 0;background-size:contain;*/}
			/*.sltmReel {float:left;display:inline-block;width:100%;height:255px;overflow:hidden;text-align:center;}*/
			.sltmReel {position:absolute;top:10%;left:0;float:left;display:inline-block;width:100%;height:74%;text-align:center;overflow:hidden;}
				.sltmReel div {position:relative; top: -195px; text-align:center;}  /* by jang */
					.sltmReel div p {position:relative;display:inline-block;margin-top:10px;width:51%;/*height:138px;*/font:800 54px "Noto Sans KR";color:#ffff00;/*background:url(../images/divpop/slotmachin_tag_bg.png) no-repeat 50%;background-size:contain;*/}
						.sltmReel div p span {position:absolute;top:54%;left:0;margin-top:-43px;padding-left:15%;width:100%;text-align:center;}
		.sltmReelShadow {display:none;/*position:absolute;top:50%;height:50%;width:100%;background:url(../images/divpop/slotmachin_box_shadow.png) no-repeat 50%;background-size:80%;border:0px solid #fff;*/}
		.sltmSkipBtn {float:right;margin-right:20px;width:15%;}
	.sltmGuide {float:left;width:100%;}
		.sltmGuide img {width:100%;}
		.sltmGuide ul {float:left;padding:20px 0;width:100%;}
			.sltmGuide li {float:left;padding-left:15px;width:100%;font:400 11px "Noto Sans KR";color:#ff7f00;text-align:left;letter-spacing:-0.05em;text-shadow:1px 1px 1px #000;}


#bigTagOpenBox {margin-top:0;margin-left:0;width:100%;text-align:center;overflow:hidden;}
#bigTagOpenBox.divPopupBox {background:transparent;z-index:400;}
	.bgtoTitle {margin:10px auto;padding-top:40px;width:100%;z-index:1;}
	#bigTagWrap {position:absolute;top:150px;left:0;float:left;width:100%;/*height:400px;*/}
		.bigTagFront {position:absolute;top:0;left:0;margin:0 5% 0 5%;width:90%;text-align:center;/*background:url(../images/divpop/big_tag_front_bg.png) no-repeat 50% 0;*/z-index:10;cursor:pointer;}
		.bigTagFront.slideHover {	
									-webkit-animation-name:slideHover;
									-webkit-animation-duration:2s;
									-webkit-animation-timing-function:ease;
									-webkit-animation-delay:0s;
									-webkit-animation-iteration-count:infinite;
									-webkit-animation-direction: alternate;
									-webkit-animation-play-state:running;

									-moz-animation-name:slideHover;
									-moz-animation-duration:2s;
									-moz-animation-timing-function:ease;
									-moz-animation-delay:0s;
									-moz-animation-iteration-count:infinite;
									-moz-animation-direction: alternate;
									-moz-animation-play-state:running;

									-o-animation-name:slideHover;
									-o-animation-duration:2s;
									-o-animation-timing-function:ease;
									-o-animation-delay:0s;
									-o-animation-iteration-count:infinite;
									-o-animation-direction: alternate;
									-o-animation-play-state:running;

									-ms-animation-name:slideHover;
									-ms-animation-duration:2s;
									-ms-animation-timing-function:ease;
									-ms-animation-delay:0s;
									-ms-animation-iteration-count:infinite;
									-ms-animation-direction: alternate;
									-ms-animation-play-state:running;

									animation-name:slideHover;
									animation-duration:2s;
									animation-timing-function:ease;
									animation-delay:0s;
									animation-iteration-count:infinite;
									animation-direction: alternate;
									animation-play-state:running;
								}
		@-webkit-keyframes slideHover{
			from{transform:translate3d(0,0,0);}
			to{transform:translate3d(-30%,0,0);}
		}
		@-moz-keyframes slideHover{
			from{transform:translate3d(0,0,0);}
			to{transform:translate3d(-30%,0,0);}
		}
		@-o-keyframes slideHover{
			from{transform:translate3d(0,0,0);}
			to{transform:translate3d(-30%,0,0);}
		}
		@-ms-keyframes slideHover{
			from{transform:translate3d(0,0,0);}
			to{transform:translate3d(-30%,0,0);}
		}
		@keyframes slideHover{
			from{transform:translate3d(0,0,0);}
			to{transform:translate3d(-30%,0,0);}
		}
		
		.bigTagFront.slideClick {
									-webkit-animation-name:slideClick;
									-webkit-animation-duration:6s;
									-webkit-animation-timing-function:ease-out;
									-webkit-animation-delay:0s;
									-webkit-animation-iteration-count:1;
									-webkit-animation-fill-mode:forwards;

									-moz-animation-name:slideClick;
									-moz-animation-duration:6s;
									-moz-animation-timing-function:ease-out;
									-moz-animation-delay:0s;
									-moz-animation-iteration-count:1;
									-moz-animation-fill-mode:forwards;

									-o-animation-name:slideClick;
									-o-animation-duration:6s;
									-o-animation-timing-function:ease-out;
									-o-animation-delay:0s;
									-o-animation-iteration-count:1;
									-o-animation-fill-mode:forwards;

									-ms-animation-name:slideClick;
									-ms-animation-duration:6s;
									-ms-animation-timing-function:ease-out;
									-ms-animation-delay:0s;
									-ms-animation-iteration-count:1;
									-ms-animation-fill-mode:forwards;

									animation-name:slideClick;
									animation-duration:6s;
									animation-timing-function:ease-out;
									animation-delay:0s;
									animation-iteration-count:1;
									animation-fill-mode:forwards;
								}
		@-webkit-keyframes slideClick{
			from{filter:alpha(opacity=1); opacity:1;transform:translate3d(0,0,0);}
			70%{filter:alpha(opacity=1); opacity:1;transform:translate3d(-350px,0,0);}
			to{filter:alpha(opacity=0); opacity:0;transform:translate3d(-750px,0,0);}
		}
		@-moz-keyframes slideClick{
			from{filter:alpha(opacity=1); opacity:1;transform:translate3d(0,0,0);}
			70%{filter:alpha(opacity=1); opacity:1;transform:translate3d(-350px,0,0);}
			to{filter:alpha(opacity=0); opacity:0;transform:translate3d(-750px,0,0);}
		}
		@-o-keyframes slideClick{
			from{filter:alpha(opacity=1); opacity:1;transform:translate3d(0,0,0);}
			70%{filter:alpha(opacity=1); opacity:1;transform:translate3d(-350px,0,0);}
			to{filter:alpha(opacity=0); opacity:0;transform:translate3d(-750px,0,0);}
		}
		@-ms-keyframes slideClick{
			from{filter:alpha(opacity=1); opacity:1;transform:translate3d(0,0,0);}
			70%{filter:alpha(opacity=1); opacity:1;transform:translate3d(-350px,0,0);}
			to{filter:alpha(opacity=0); opacity:0;transform:translate3d(-750px,0,0);}
		}
		@keyframes slideClick{
			from{filter:alpha(opacity=1); opacity:1;transform:translate3d(0,0,0);}
			70%{filter:alpha(opacity=1); opacity:1;transform:translate3d(-350px,0,0);}
			to{filter:alpha(opacity=0); opacity:0;transform:translate3d(-750px,0,0);}
		}
			.bgtoText {position:absolute;top:0;left:0;width:100%;height:100%;}
				.btfPrice {margin-top:10%;margin-left:10%;font:600 20px "Noto Sans KR";color:#fff;}
					.btfPriceNum {font:800 40px / 50px "Noto Sans KR";color:#ffff00;}
					/*.btfPoint {font:800 30px / 100px "Noto Sans KR";color:#fff;}*/
			.hoverHand {position:absolute;bottom:-20px;right:30px;width:50px;}
			.hoverHand.hoverEff2 {-webkit-transform-origin:bottom;-moz-transform-origin:bottom;-ms-transform-origin:bottom;transform-origin:bottom;}
		.bigTagBack {position:absolute;top:0;left:0;margin:0 5% 0 5%;width:90%;text-align:right;/*background:url(../images/divpop/big_tag_back_bg_1.png) no-repeat 50% 0;*/z-index:5;}
				.btbSale {margin-top:15%;padding-right:10%;font:500 18px "Noto Sans KR";color:#fff;text-align:right;letter-spacing:-0.05em;}
				.btbPrice {margin-top:10px;padding-right:10%;font:800 30px / 50px "Noto Sans KR";color:#000;letter-spacing:-0.05em;}
					.btbPriceNum {font:800 40px / 40px "Noto Sans KR";color:#c82358;}
		.bigTagBack_after {position:absolute;top:-70px;left:0;margin:0 5% 0 5%;width:90%;height:270px;}
			.celebrationBox {position:absolute;top:0px;left:0;width:100%;font:italic 800 40px / 50px "BMDoHyeon";color:#fff;z-index:10;}
			.actScale {
						-webkit-animation-name:scaleHover;
						-webkit-animation-duration:.5s;
						-webkit-animation-timing-function:ease;
						-webkit-animation-delay:0s;
						-webkit-animation-iteration-count:infinite;
						-webkit-animation-direction: alternate;

						-moz-animation-name:scaleHover;
						-moz-animation-duration:.5s;
						-moz-animation-timing-function:ease;
						-moz-animation-delay:0s;
						-moz-animation-iteration-count:infinite;
						-moz-animation-direction: alternate;

						-o-animation-name:scaleHover;
						-o-animation-duration:.5s;
						-o-animation-timing-function:ease;
						-o-animation-delay:0s;
						-o-animation-iteration-count:infinite;
						-o-animation-direction: alternate;

						-ms-animation-name:scaleHover;
						-ms-animation-duration:.5s;
						-ms-animation-timing-function:ease;
						-ms-animation-delay:0s;
						-ms-animation-iteration-count:infinite;
						-ms-animation-direction: alternate;

						animation-name:scaleHover;
						animation-duration:.5s;
						animation-timing-function:ease;
						animation-delay:0s;
						animation-iteration-count:infinite;
						animation-direction: alternate;
					}
			@-webkit-keyframes scaleHover{
				from{transform:scale(1);color:#fff;}
				50%{color:#fff;}
				to{transform:scale(1.1);color:#ffff00;}
			}
			@-moz-keyframes scaleHover{
				from{transform:scale(1);color:#fff;}
				50%{color:#fff;}
				to{transform:scale(1.1);color:#ffff00;}
			}
			@-o-keyframes scaleHover{
				from{transform:scale(1);color:#fff;}
				50%{color:#fff;}
				to{transform:scale(1.1);color:#ffff00;}
			}
			@-ms-keyframes scaleHover{
				from{transform:scale(1);color:#fff;}
				50%{color:#fff;}
				to{transform:scale(1.1);color:#ffff00;}
			}
			@keyframes scaleHover{
				from{transform:scale(1);color:#fff;}
				50%{color:#fff;}
				to{transform:scale(1.1);color:#ffff00;}
			}
				.celebrationBox span {font-style:italic;font-size:50px;}
			.btbaDescTxt {position:absolute;bottom:0;left:0;width:100%;font:400 14px "Noto Sans KR";color:#fff;letter-spacing:-0.05em;z-index:10;}
			.actBefore {transform:translate3d(-3000px,0,0);}
				.btbaDescTxt span {font-weight:800;color:#ff1000;}
			.celebrationBg {position:fixed;top:0;left:0;width:100%;height:100%;;background:none;}
				/*#celebrationCvs {display:block;width:100%;height:100%;}*/
				.celebrationBg2 {width:100%;height:100%;}
					#canvas-container {width:100%;height:100%;}
			.celebrationBg.actClbr {background:url(../images/divpop/big_tag_back_celebration_bg.png) no-repeat 0 0;
									-webkit-animation:clbrtOn 0.8s steps(2) infinite alternate running;
									-moz-animation:clbrtOn 0.8s steps(2) infinite alternate running;
									-o-animation:clbrtOn 0.8s steps(2) infinite alternate running;
									-ms-animation:clbrtOn 0.8s steps(2) infinite alternate running;
									animation:clbrtOn 0.8s steps(2) infinite alternate running;
									background-size:cover;}
			@-webkit-keyframes clbrtOn {
				from {background-position:0 -100px}
				to   {background-position:-1950px -100px}
			}
			@-moz-keyframes clbrtOn {
				from {background-position:0 -100px}
				to   {background-position:-1950px -100px}
			}
			@-o-keyframes clbrtOn {
				from {background-position:0 -100px}
				to   {background-position:-1950px -100px}
			}
			@-ms-keyframes clbrtOn {
				from {background-position:0 -100px}
				to   {background-position:-1950px -100px}
			}
			@keyframes clbrtOn {
				from {background-position:0 -100px}
				to   {background-position:-1950px -100px}
			}
	.bgtoGuide {float:left;margin-top:220px;width:100%;}
		.bgtoGuide img {width:100%;}
		.bgtoGuide ul {float:left;padding:20px 0;width:100%;}
			.bgtoGuide li {float:left;padding-left:15px;width:100%;font:400 11px "Noto Sans KR";color:#ff7f00;text-align:left;letter-spacing:-0.05em;text-shadow:1px 1px 1px #000;}